#renderContainer > #renderView, #whatsNew {
    width:100%;
    max-width:100%;
    min-width:100%;
    height:100%;
    min-height:100%;
    max-height:100%;
    top:0;
    left:0;
    transform:unset;
    box-sizing:border-box;
    margin:0;
    border-radius:0;
    text-align:center;
}

#render-header {
}

/*#render-types {
  position:absolute;
  bottom:68px;
  left:16px;
  right:16px;
  height:48px;
  width:calc(100% - 32px);
}

.render-types-button {
  height:48px;
}

#render-save {
    position:absolute;
    bottom:16px;
    right:16px;
    left:16px;
    height:48px;
    z-index:1;
    line-height:48px;
    padding:0;
}*/

#render-save {
    margin-bottom:8px;
}

#copyright {
    display:none;
}

#contriblist {
    display:none;
}