* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

canvas {
}

body, html, #container, #container-loading {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:#2F3136;
    z-index:0;
    
    font-family:Helvetica, sans-serif;
}

#container-loading > span {
    color:white;
    font-size:2em;
    font-style:italic;
    display:inline-block;
    padding:8px;
}

.jsgif {
    display:none;
}

#renderContainer, #container-whatsNew, #container-tutorial {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background:rgba(0,0,0,0.5);
    z-index:3;
    display:none;
}

#renderView, #whatsNew, #tutorial {
    background:#eee;
    width:500px;
    max-width:70%;
    border-radius:5px;
    padding:12px 24px;
    position:absolute;
    left:50%;
    top:10%;
    transform:translate(-50%, 0%);
    max-height:70%;
    height:auto;
    overflow:auto;
    text-align:center;
}

#render-close, #whatsNew-close, #tutorial-close {
    position:absolute;
    right:16px;
    cursor:pointer;
    font-size:2em;
}


#render-types {
    width:100%;
    overflow:hidden;
}

#render-img, #tutorial img {
    max-width:300px;
    min-width:300px;
    margin: 8px 0;
}

#renderView h1, #tutorial h1 {
    margin:0;
    font-weight:normal;
    font-size:32px;
}

#tutorial h1 {
    margin:8px 0;
}

#tutorial img {
    margin: 8px 0;
    width: 80%;
}

#renderView-progressBar {
    height:32px;
    border:1px solid #aaa;
    margin:8px 0;
    border-radius:3px;
}

#renderView-progress {
    height:100%;
    width:0;
    background:#5588ff;
    border-radius:3px;
}

#render-save, .render-types-button {
    background:#333;
    color:#eee;
    border:0;
    padding:10px;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    display:block;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    box-sizing:border-box;
}

#renderView .render-types-button {
    border-radius:0;
    border-left-width:0;
    border-right-width:0;
    margin-left:0;
    margin-right:0;
    padding:6px;
}

#renderView .render-types-button:first-of-type {
    border-left-width:1px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#renderView .render-types-button:last-of-type {
    border-right-width:1px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.render-types-button {
    display:inline-block;
    margin-bottom:4px;
    margin-top:8px;l
    border-radius:0;
    border:1px solid #aaa;
}

#render-pleaseWait {
    display:none;
    color:#CC0000;
    font-style:italic;
    margin-top:4px;
}

#previews {
    position:absolute;
    right:16px;
    bottom:16px;
    height:100%;
    background: red;
    z-index:0;
}

.canvas-preview-container {
    position:absolute;
    bottom:0;
    overflow:hidden;
    z-index:0;
}

.canvas-preview-img {
    transform-origin: top left;
    z-index:1;
}

.canvas-preview {
    position:absolute;
    bottom:0;
    background:transparent;
    z-index:2;
}

#container {
    position:relative;
    height:calc(100% - 36px);
}

#contributors {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:36px;
    line-height:36px;
    color:white;
    padding:0 8px;
    background:#555;
    
    font-size:16px;
    font-family:Helvetica;
    z-index:1;
}

.hidden, .hidden-forever {
    display:none;
}

.donate {
    display:inline-block;
    margin-top:4px;
    margin-left:4px;
}

.donate > input {
    background:transparent;
}

#contriblist {
    display:inline-block;
    position:absolute;
    top:0;
    margin-left:12px;
}

#contribRight {
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
}

#contribRight > * {
    display:inline-block;
    margin-right:12px;
    color:white;
}

#feedback, #supportersLink, #link-whatsNew {
    text-decoration:underline;
    cursor:pointer;
}

#closeContrib {
    cursor:pointer;
}

#input-file {
    width:1px;
    height:1px;
    position:absolute;
    left:-1px;
    top:-1px;
    display:none;
}

#container-canvas {
    max-height:100%;
    height:100%;
    /*max-width:calc(100% - 400px);*/
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0;
    z-index:1;
    overflow:auto;
    overscroll-behavior:contain;
}

#canvas, #canvas-over {
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0;
    background:transparent;
}

#canvas-over {
    z-index:1;
}

#container-buttons {
    position:absolute;
    right:0;
    top:0;
    background:#111;
    color:#eee;
    width:256px;
    z-index:2;
}

#note {
    border:1px dotted #aaa;
    padding:4px;
}

.menu-item, .menu-item > button {
    text-align:center;
    cursor:pointer;
    color:#eee;
    text-decoration:none;
    background-color:transparent;
    border:0;
    font-size:18px;
    font-family:Helvetica;
    height:32px;
    line-height:32px;
    width:100%;
    padding:0;
    margin:0;
    box-sizing:content-box;
    float:left;
    position:relative;
}

.menu-item:hover {
    border:1px solid #aaa;
    line-height:30px;
    box-sizing:border-box;
}

.menu-item:hover > button {
    height:30px;
    line-height:30px;
}

.menu-item > button {
    width:auto;
    float:unset;
    width:48px;
    background:#444;
    float:right;
}

.menu-item > button:hover {
    background:#eee;
    color:#333;
}

#save {
    font-weight:bold;
    background:#bbff55;
    color:#111;
}

#save:hover {
    border:1px solid #11aa11;
}

#input-file {
    font-size:16px;
}

#container-buttons > .switch {
    width:50%;
}

#container-buttons > .switch-active, .toggle-active {
    background:#eee !important;
    color:#111 !important;
}

#slider-opacity, #slider-zoom {
    position:absolute;
    left:0;
    top:0;
    padding:0;
    -webkit-appearance:none;
    width:100%;
    height:100%;
    margin:0;
    box-sizing:border-box;
    border:0;
    background:transparent;
}

input[type="range"] {
    margin: 0px;
    opacity:0.5;
}

#slider-opacity:focus, #slider-zoom:focus {
    outline: none;
}

#slider-opacity::-moz-range-track, #slider-zoom::-moz-range-track {
    background:transparent;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

input[type=range]::-moz-range-thumb {
    background:#eee;
    border:0;
    border-radius:0;
    width:32px;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background:transparent;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

input[type=range]::-webkit-slider-thumb {
    background:#eee;
    border:0;
    border-radius:0;
    width:32px;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    cursor: pointer;
    -webkit-appearance: none;
}

#dragDropOverlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2F3136;
    z-index: 2;

    /* auto-prefixed in-place... messy but necessary */
    flex-flow: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;

    align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

    justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
}

#dragDropOverlay div {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

#whatsNew > h1 {
    margin-bottom:0;
}

#whatsNew > div > h2 {
    text-decoration:underline;
    margin:0;
    padding:0;
    text-align:left;
    font-size:1em;
    margin-top:16px;
}

#whatsNew > div > ul {
    text-align:left;
    margin:8px 0;
    padding-left:24px;
}

#whatsNew > div > ul > li {
    margin:4px 0;
}

#copyright {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:840px) {
    #copyright {
        display:none;
    }
}

@media (max-width:680px) {
    #link-whatsNew {
        display:none;
    }
}

@media (max-width:490px) {
    #contriblist {
        display:none;
    }
    
    #render-img, #tutorial img {
        max-width:87%;
        min-width:87%;
    }
    
    #render-header {
        text-align: left;
    }
}

@media (max-width:375px) {
    #contributors {
        display:none;
    }
    
    #container {
        height:100%;
    }
}

@media (max-height:710px) {
    #renderView, #whatsNew, #tutorial {
        width:100%;
        max-width:100%;
        min-width:100%;
        height:100%;
        min-height:100%;
        max-height:100%;
        top:0;
        left:0;
        transform:unset;
        box-sizing:border-box;
        margin:0;
        border-radius:0;
        text-align:center;
    }

    #render-save {
        margin-bottom:8px;
    }
}