* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

canvas {
}

body, html, #container {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    
    font-family:Helvetica, sans-serif;
}

.jsgif {
    display:none;
}

#renderContainer {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background:rgba(0,0,0,0.5);
    z-index:1000000000000000;
    display:none;
}

#renderView {
    background:#eee;
    width:500px;
    max-width:70%;
    border-radius:5px;
    padding:12px 24px;
    position:absolute;
    left:50%;
    top:10%;
    transform:translate(-50%, 0%);
    max-height:70%;
    height:auto;
    overflow:auto;
}

#render-close {
    position:absolute;
    right:16px;
    cursor:pointer;
    font-size:2em;
}

#render-img {
    max-width:300px;
    margin: 8px 0;
}

#renderView h1 {
    margin:0;
    font-weight:normal;
    font-size:32px;
}

#renderView-progressBar {
    height:32px;
    border:1px solid #aaa;
    margin:8px 0;
    border-radius:3px;
}

#renderView-progress {
    height:100%;
    width:0;
    background:#5588ff;
    border-radius:3px;
}

#render-save {
    background:#333;
    color:#eee;
    border:0;
    padding:6px 10px;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
    display:block;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

#previews {
    position:absolute;
    right:16px;
    bottom:16px;
    height:100%;
    background: red;
    z-index: 0;
}

.canvas-preview-container {
    position:absolute;
    bottom:0;
    overflow:hidden;
    z-index:0;
}

.canvas-preview-img {
    transform-origin: top left;
    z-index:-2;
}

#container {
    position:relative;
    height:calc(100% - 36px);
}

#contributors {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    height:36px;
    line-height:36px;
    color:white;
    padding:0 8px;
    background:#555;
    
    font-size:16px;
    font-family:Helvetica;
}

.hidden {
    display:none;
}

.donate {
    display:inline-block;
    margin-top:4px;
    margin-left:4px;
}

.donate > input {
    background:transparent;
}

#contriblist {
    display:inline-block;
    position:absolute;
    top:0;
    margin-left:12px;
}

#contribRight {
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
}

#contribRight > * {
    display:inline-block;
    margin-right:12px;
    color:white;
}

#feedback, #supportersLink {
    text-decoration:underline;
    cursor:pointer;
}

#closeContrib {
    cursor:pointer;
}

#input-file {
    width:1px;
    height:1px;
    position:absolute;
    left:-1px;
    top:-1px;
    z-index:-100;
}

#container-canvas {
    max-height:100%;
    height:100%;
    max-width:calc(100% - 400px);
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
    overflow:auto;
}

#canvas, #canvas-over {
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    top:0;
}

#canvas-over {
    z-index:5;
    background:none;
}

#container-buttons {
    position:absolute;
    right:0;
    top:0;
    background:#111;
    color:#eee;
    width:256px;
    z-index:100000;
}

#container-buttons > * {
    z-index:10000;
}

#note {
    border:1px dotted #aaa;
    padding:4px;
}

.canvas-preview, #canvas, #container {
    background-color:#2F3136;
}

.canvas-preview {
    position:absolute;
    bottom:0;
    background:transparent;
    z-index:-1;
}

.menu-item, .menu-item > button {
    text-align:center;
    cursor:pointer;
    color:#eee;
    text-decoration:none;
    background-color:transparent;
    border:0;
    font-size:18px;
    font-family:Helvetica;
    height:32px;
    line-height:32px;
    width:100%;
    padding:0;
    margin:0;
    box-sizing:content-box;
    float:left;
    position:relative;
}

.menu-item:hover {
    border:1px solid #aaa;
    line-height:30px;
    box-sizing:border-box;
}

.menu-item:hover > button {
    height:30px;
    line-height:30px;
}

.menu-item > button {
    width:auto;
    float:unset;
    width:48px;
    background:#444;
    float:right;
}

.menu-item > button:hover {
    background:#eee;
    color:#333;
}

#save {
    font-weight:bold;
    background:#bbff55;
    color:#111;
}

#save:hover {
    border:1px solid #11aa11;
}

#input-file {
    font-size:16px;
}

#container-buttons > .switch {
    width:50%;
}

#container-buttons > .switch-active, .toggle-active {
    background:#eee !important;
    color:#111 !important;
}

#slider-opacity, #slider-zoom {
    position:absolute;
    left:0;
    top:0;
    padding:0;
    -webkit-appearance:none;
    width:100%;
    height:100%;
    margin:0;
    box-sizing:border-box;
    border:0;
    background:transparent;
}

input[type="range"] {
    margin: 0px;
    opacity:0.5;
}

#slider-opacity:focus, #slider-zoom:focus {
    outline: none;
}

#slider-opacity::-moz-range-track, #slider-zoom::-moz-range-track {
    background:transparent;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

input[type=range]::-moz-range-thumb {
    background:#eee;
    border:0;
    border-radius:0;
    width:32px;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background:transparent;
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

input[type=range]::-webkit-slider-thumb {
    background:#eee;
    border:0;
    border-radius:0;
    width:32px;
    height:100%;
    box-sizing:border-box;
    padding:0;
    margin:0;
    cursor: pointer;
    -webkit-appearance: none;
}