.cropView
{
    overflow: hidden;
    user-select: none;
    background: transparent;

    img,
    canvas
    {
        position: absolute;
        top: 0; // will be overridden by zoom
        left: 0; // will be overridden by zoom
        transform-origin: top left;
    }

    canvas
    {
        z-index: 1;
    }
}